# Auto detect text files and perform LF normalization
* text=auto

# Treat all files in the 'public' directory as binary
public/* binary

# Denote files that are truly binary and should not be modified by Git
*.jpg binary
*.png binary
*.gif binary

# Denote files that are text but should still use CRLF line endings on checkout
*.txt text eol=crlf
