@import './base.css';

$green: hsla(160, 100%, 37%, 1);

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;

    a,
    .green {
        text-decoration: none;
        color: $green;
        transition: 0.4s;
    }

    nav {
        display: flex;
        gap: 1rem;
    }

    hr {
        margin: 1rem 0;
    }

    .searchSection header.searchHeader {
        margin-bottom: 1rem;

        input {
            width: 320px;
        }
    }

    .linkedPostList,
    .linkedSearchTermList {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .list {
            display: flex;
            flex-direction: column;
        }
    }

    .linkedPostList {
        .list {
            gap: .5rem;
        }
    }

    .linkedSearchTermList {
        .list {
            gap: .25rem;
        }

        &.post .list {
            flex-direction: row;
            font-size: small;
            flex-wrap: wrap;

            a {
                border: 1px solid grey;
                padding: 0 .3rem;
            }
        }
    }

    .home {
        a {
            display: block;
        }

        h2 {
            text-decoration: underline lightblue;
        }

        .linkedSearchTermList.columns {
            .list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
        }
    }

    .topicSwitch {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        button {
            border: 1px solid grey;
            background: transparent;
            color: $green;

            &.on {
                border-color: $green;
                color: grey;
            }
        }
    }
}